<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993780394269-j7q4mv7ffbdvumo3u2hopocouv90m4b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993780394269-j7q4mv7ffbdvumo3u2hopocouv90m4b3</string>
	<key>API_KEY</key>
	<string>AIzaSyCPv_WKe0eqgPjcqtcRqpGO-kzrhA_ZMIs</string>
	<key>GCM_SENDER_ID</key>
	<string>993780394269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linhnguyen.DEVOTE.dev</string>
	<key>PROJECT_ID</key>
	<string>devote-59dad</string>
	<key>STORAGE_BUCKET</key>
	<string>devote-59dad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993780394269:ios:2b520c3c4a72a1652b59f4</string>
</dict>
</plist>